[submodule "classicmodels-api"]
	path = classicmodels-api
	url = https://github.com/mrkwskiti/classicmodels-api
	branch = master
[submodule "classicmodels-client"]
	path = classicmodels-client
	url = https://github.com/mrkwskiti/classicmodels-client
	branch = master
[submodule "classicmodels-server"]
	path = classicmodels-server
	url = https://github.com/mrkwskiti/classicmodels-server
	branch = master
